html, body{
		min-height: 100%;
		background-color: #fdf6f8;
		}
	
	.buttons{
		max-width: 360px;
		gap: 12px;
		display: flex;
		flex-direction: column;
    }
	
	.button{
		padding: 8px 25px;
		background: #ffebf3;
		border: 3px solid #bc5f93;
		border-radius: 16px;
		color: #ebb942;
		font-weight: bold;
		text-decoration: none;
		-webkit-text-stroke: 0.5px #ebb942;
		font-family: sans-serif;
		display: flex;
		align-items: center;
		justify-content: center
	}

    .button:hover{
		padding: 8px 25px;
		background: #ffebf3;
		border: 3px solid #ebb942;
		border-radius: 16px;
		color: #bc5f93;
		font-weight: bold;
		text-decoration: none;
		-webkit-text-stroke: 0.5px #bc5f93;
		font-family: sans-serif;
		display: flex;
		align-items: center;
		justify-content: center
	}
	
	.button-image{
		padding: 0px 8px;
		width: 30;
		height: 30;
    }
	
	.cover-image{
		outline: 3px solid #bc5f93;
		outline-offset: -20px;
		width: 300;
		height: 300;
		padding: 20px;
    }
	
	.title{
		font-size: 29px;
		color: #fb942c;
		font-family: sans-serif;
		margin-top: 5px;
	}

	.kagikakko{
		font-size: 29px;
		color: #bc5f93;
		-webkit-text-stroke: 0.8px #bc5f93;
		font-family: sans-serif;
		margin-top: 5px;
	}